<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700&display=swap" rel="stylesheet">

    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>FrontEnd Mentor</title>


</head>

<body>
    <header>
        <h1>IMAGEM</h1>
        <a </header>
            <main>
                <h1 id="welcome">Hi <%= name %></h1>
                <div class="container">
                    <h1>YOUR VIDEOS</h1>
                </div>
            </main>


</body>