<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700&display=swap" rel="stylesheet">

    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>FrontEnd Mentor</title>


</head>

<body>


    <main>
        <div class="container">



            <div id="modal">


                <p class="free">Try it free 7 days then $20/mo. thereafter</p>
                <form class="form1">


                    <input type="text" name="nome" placeholder="Email" class="ok">



                    <input type="text" name="last_name" placeholder="Senha">
                    <button type="submit" id="login-page">Login</button>




                </form>

            </div>


        </div>





    </main>

    <script src="/views/script.js"></script>

</body>

</html>