<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700&display=swap" rel="stylesheet">

  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>FrontEnd Mentor</title>


</head>

<body>


  <main>
    <div class="container">

      <div class="text-explicativo">
        <h1 class="destaque">Learn to code by watching others</h1>
        <p class="description">See how experienced developers solve problems in real-time. watching scripted tutorials
          is
          great butm
          understanding how developers think is involuable</p>
      </div>

      <div id="modal">


        <p class="free">Try it free 7 days then $20/mo. thereafter</p>
        <form class="form1">

          <p class="erro">NOME INVALIDO</p>
          <input type="text" name="nome" placeholder="First Name" class="ok">



          <p class="erro">ULTIMO NOME INVALIDO</p>
          <input type="text" name="last_name" placeholder="Last Name">


          <p class="erro">EMAIL INVALIDO</p>
          <input type="text" name="email" placeholder="Email Address">


          <p class="erro">SENHA INVALIDA</p>
          <input type="text" name="password" placeholder="Password">


          <button type="submit">CLAIM YOUR FREE TRIAL </button>

          <p class="terms">By clicking the button you are agreeing to our <a href="#" class="terms-spe">
              Term of Services
            </a> </p>


        </form>

      </div>


    </div>





  </main>

  <script src="script.js"></script>

</body>

</html>