body{
    background: url("/images/bg-intro-desktop.png");
    background-color:   #FF6666;
}

*{
    font-family: 'Poppins', sans-serif;
}

.container{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.text-explicativo{

    color: #ffffff;
    width: 700px;


}

.destaque{
    font-size: 60px;
    max-width: 600px;
    display: flex;
    font-weight: bold;



}

.description{

    padding-top: 35px;
    display: flex;
    max-width: 550px;
    font-size: 25px;
}


.container{
    padding: 0px 300px;
    justify-content: center;
    align-items: center;


}










.modal {
    background: red;
    width: 500px;
    height: 500px;
  }

  form {
      background-color: #ffffff;
      padding: 40px 40px;
      border-radius: 15px;
  }
  
  form input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);
    outline: none;
    font-size: 16px;
    padding-right: 300px;
    margin-bottom: 20px;
    display: block;
  }
  
  form label {
    font-weight: 600px;
    line-height: 32px;
    letter-spacing: 0.2px;
  }

  form button{
      background-color: hsl(154, 59%, 51%) ;
      padding: 15px 170px;
      border-radius: 8px;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      
      
  }


  form button:hover{
    transition: 0.1s;
    opacity: 0.8;
    
  }


.terms{
    opacity: 0.5;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.free{
    background-color: #5d54a3;
    padding: 10px;
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.4);
}

form p{
    visibility: hidden;
}

#erro_on{
    color: #FF0000;
    visibility: visible;
}




.destaque-index{
    font-size: 60px;
    max-width: 600px;
    display: flex;
    font-weight: bold;
    color: #ffffff;
    


}